* {
  font-family: 'Raleway', sans-serif;
}

.pointer,
a {
  cursor: pointer;
}
.text-red {
  color: #ed2e52;
}

.duration-300 {
  transition-duration: 300ms;
}

.text-red-outline {
  text-shadow: rgb(237, 46, 82) 2px 0px 0px,
    rgb(237, 46, 82) 1.75517px 0.958851px 0px,
    rgb(237, 46, 82) 1.0806px 1.68294px 0px,
    rgb(237, 46, 82) 0.141474px 1.99499px 0px,
    rgb(237, 46, 82) -0.832294px 1.81859px 0px,
    rgb(237, 46, 82) -1.60229px 1.19694px 0px,
    rgb(237, 46, 82) -1.97998px 0.28224px 0px,
    rgb(237, 46, 82) -1.87291px -0.701566px 0px,
    rgb(237, 46, 82) -1.30729px -1.5136px 0px,
    rgb(237, 46, 82) -0.421592px -1.95506px 0px,
    rgb(237, 46, 82) 0.567324px -1.91785px 0px,
    rgb(237, 46, 82) 1.41734px -1.41108px 0px,
    rgb(237, 46, 82) 1.92034px -0.558831px 0px;
  letter-spacing: 0.2rem;
}

.text-dark-outline {
  text-shadow: #212529 2px 0px 0px, #212529 1.75517px 0.958851px 0px,
    #212529 1.0806px 1.68294px 0px, #212529 0.141474px 1.99499px 0px,
    #212529 -0.832294px 1.81859px 0px, #212529 -1.60229px 1.19694px 0px,
    #212529 -1.97998px 0.28224px 0px, #212529 -1.87291px -0.701566px 0px,
    #212529 -1.30729px -1.5136px 0px, #212529 -0.421592px -1.95506px 0px,
    #212529 0.567324px -1.91785px 0px, #212529 1.41734px -1.41108px 0px,
    #212529 1.92034px -0.558831px 0px;
  letter-spacing: 0.2rem;
}

.text-light-outline {
  text-shadow: #f8f9fa 2px 0px 0px, #f8f9fa 1.75517px 0.958851px 0px,
    #f8f9fa 1.0806px 1.68294px 0px, #f8f9fa 0.141474px 1.99499px 0px,
    #f8f9fa -0.832294px 1.81859px 0px, #f8f9fa -1.60229px 1.19694px 0px,
    #f8f9fa -1.97998px 0.28224px 0px, #f8f9fa -1.87291px -0.701566px 0px,
    #f8f9fa -1.30729px -1.5136px 0px, #f8f9fa -0.421592px -1.95506px 0px,
    #f8f9fa 0.567324px -1.91785px 0px, #f8f9fa 1.41734px -1.41108px 0px,
    #f8f9fa 1.92034px -0.558831px 0px;
  letter-spacing: 0.2rem;
}

.bg-red {
  background-color: #ed2e52;
}

.pointer {
  cursor: pointer;
}

.btn-bg {
  background-color: #ed2e52;
}

.header-bg {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8799894957983193) 0%,
    rgba(0, 0, 0, 0.4542191876750701) 79%,
    rgba(0, 0, 0, 0.21052170868347342) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8799894957983193) 0%,
    rgba(0, 0, 0, 0.4542191876750701) 79%,
    rgba(0, 0, 0, 0.21052170868347342) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8799894957983193) 0%,
    rgba(0, 0, 0, 0.4542191876750701) 79%,
    rgba(0, 0, 0, 0.21052170868347342) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.hero-content {
  height: 90vh;
}

.hero-bg {
  z-index: -1;
  object-fit: cover;
  height: 125vh;
}

.hero-overlay {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8799894957983193) 1%,
    rgba(0, 0, 0, 0.21052170868347342) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8799894957983193) 1%,
    rgba(0, 0, 0, 0.21052170868347342) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8799894957983193) 1%,
    rgba(0, 0, 0, 0.21052170868347342) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  z-index: -1;
}

.hero-title {
  letter-spacing: 0.4rem;
}

.fit-cover {
  object-fit: cover;
}

.testi-card:hover {
  transform: scale(1.05);
}

#latest-job {
  background-color: #ed2e52;
}

#job-card img {
  width: 5rem;
  height: 5rem;
}

#equipment {
  background-color: #ed2e52;
}

#things-done {
  background-color: #ed2e52;
}

#subscribe {
  bottom: -2rem;
}

.login-arrow {
  left: 1rem;
}
